{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parser" : "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-useless-escape": "off",
    "arrow-parens": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["e2e/**/*.js", "**/*.spec.js"]}],
    "no-console": ["error", {
      "allow": ["info", "warn", "error", "log"]
    }]
  }
}
